{% extends "app/index.html" %}

{% block titulo %} Estudiantes {% endblock %}

{% block formulario %}
        <!-- Formulario Carga-->
        <h1> Agregar Estudiante </h1>
        <form action="formulario_estudiantes" method="POST">
            {% csrf_token %}
            <p>Nombre: <input type="text" name="nombre"></p>
            <p>Apellido: <input type="text" name="apellido"></p>
            <p>Email: <input type="text" name="email"></p>
    
            <input type="submit" value="Guardar">
        </form>
        <!-- Formulario Busqueda-->
        <form action="/buscar_estudiante" method="GET">
            <h4>Buscar</h4>
            <p><input type="text" name="nombre" placeholder="Ingrese Nombre"></p>
            <p><input type="text" name="apellido" placeholder="Ingrese Apellido"></p>
            <p><input type="submit" value="Buscar"></p>
        </form>

{% endblock formulario %}

{% block contenidoQueCambia %}
<h1 class="mb-5">Estudiantes</h1>

{% endblock %}

{% block cuerpoinicio %} {% endblock %}